<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Little Twitter!</title>

    <link href="http://maxcdn.bootstrapcdn.com/bootswatch/3.3.4/flatly/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Little Twitter!</h1>

        <div id="tweet-container" class="col-lg-6">
          <blockquote>
            <p>First tweet</p>
            <small>Draven</small>
          </blockquote>
        </div>

        <form id="tweet-form" class="form-horizontal col-lg-6">
            <fieldset>
                <legend>Add new tweet</legend>
                <div class="form-group">
                  <label for="inputContent" class="col-lg-2 control-label">Author</label>
                  <div class="col-lg-10">
                    <input type="text" name="author" class="form-control" id="inputAuthor">
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputContent" class="col-lg-2 control-label">Content</label>
                  <div class="col-lg-10">
                    <textarea class="form-control" name="content" id="inputContent" placeholder="Add tweet content here..."></textarea>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-lg-10 col-lg-offset-2">
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
                </div>
            </fieldset>
        </form>
    </div>

    <script>
        const loadTweets = async function() {
          let tweetRequestResponse = await fetch('/api/tweets');
          let tweets = await tweetRequestResponse.json();

          let tweetHTML = "";

          tweets.forEach((tweet) => {
            tweetHTML += `
              <blockquote>
                <p>${tweet.content}</p>
                <small>${tweet.author}</small>
              </blockquote>
            `;
          });

          document.querySelector('#tweet-container').innerHTML = tweetHTML;
          setTimeout(loadTweets, 1000);
        };

        loadTweets();



        document.querySelector('#tweet-form').addEventListener('submit', (event) => {
          event.preventDefault();

          fetch('/api/tweets', {
            method: 'post',
            headers: {
              'Accept': 'application/json',
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                content: document.querySelector('#inputContent').value,
                author: document.querySelector('#inputAuthor').value
            })
          });
        });
    </script>



</body>
</html>
